- content_for :title do
  edit feature : engineers onstage : rnd.io

= form_for @eos_feature, :url => { :action => if @eos_feature.id then :update else :create end } do |form|
  Title
  = form.text_field :title
  %br
  Content Date
  = date_select :eos_feature, :content_date
  %br
  Overview
  = form.text_field :overview, :size => 50
  %br
  Body
  %br
  = form.text_area :body, :size => "80x25"
  %br
  Leader Picture
  = form.file_field :leader_picture
  Podcast
  = form.file_field :podcast
  %br
  = form.submit :value => "Save"


