- content_for :title do
  = @feature.title + " : engineers onstage : rnd.io"

- content_for :partial_scripts do
  = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fd674fd230bf9ab"

.span.leader
  = @feature.content_date.strftime("%B %d, %Y")
  %h1
    = @feature.title
  %h3
    = @feature.overview
  %p
    %img{src: @feature.leader_picture}

-# Social sharing (under the picture like Ravi wanted)
%div.addthis_toolbox.addthis_default_style
  %a.addthis_button_facebook_like{'fb:like:layout' => "button_count"}
  %a.addthis_button_tweet
  %a.addthis_button_google_plusone{"g:plusone:size" => "medium"}
  %a.addthis_counter.addthis_pill_style

-# Playback widget
%div.ui360
  %a{href: @feature.podcast}
    Play
    %em= @feature.title
%br

%h2
  Transcript
= raw @feature.body

%hr
#disqus_thread

